.connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
  }
  
  .title {
    font-family: 'Cursive', 'Fantasy';
    font-size: 48px;
    color: #f0db4f;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .connect-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .connect-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  