.app-container {
  height: 100vh;
}
.w-100{
  width: 100%;
}
.room-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}
/* RoomManager.css */

.games-section {
  flex: 1; /* Prend tout l'espace disponible à gauche */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ddd;
}

/* Style du bouton pour démarrer le quiz */
.start-quiz-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.start-quiz-button:hover {
  background-color: #45a049;
  transform: scale(1.02);
}
