@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  height: 100%;
}

.disconnect-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.leave-room-button {
  padding: 10px 20px;
  background-color: #f47536;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Josefin+Slab');

@keyframes darken {
  0%{ font-size: 100px;  color:#566573;}
  50%{font-size: 200px; color:#273746}
  100% {font-size: 250px; color:#f0db4f}
}
  

h3 {
  font-family: 'Alfa Slab One', cursive;
  margin: 0 auto;
  inline: block;
  text-align: center;
  animation-name: darken;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

h6 {
  font-family: 'Josefin Slab', serif;
  margin: 0 auto;
  inline: block;
  text-align: center;
  font-size: 30px;
}
